* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  width: 213px;
  background-color:black;
  margin: 30px auto;
  border-left: 1px solid black;
  border-radius: 10px;
}
.row div {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.row .screen {
  height: 50px;
  width: 200px;
  text-align: right;
  line-height: 55px;
  font-size: 45px;
  padding-right: 3px;
}
.button {
  background-color: lightgrey;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-weight:bold;
  cursor: pointer;
 text-shadow: orange;
  
}
.button:hover {
  opacity: 0.9;
}
.span2 {
  border-radius: 35px;
  width: 104px;
}
.span3 {
  width: 158px;
  border-radius: 35px;
}
.symbol {
  background-color: orange;
}
.symbol,
.screen {
  color: white;
}